node-red/flows_raspberrypi.json
[{"type":"tab","id":"2ae54e2c.4c0372","label":"control-things-from-the-internet"},{"id":"b648d81c.75ced8","type":"nodebot","z":"2ae54e2c.4c0372","name":"Arduino UNO","username":"","password":"","boardType":"firmata","serialportName":"/dev/ttyACM0","connectionType":"local","mqttServer":"","socketServer":"","pubTopic":"","subTopic":"","tcpHost":"","tcpPort":"","sparkId":"","sparkToken":"","beanId":"","impId":"","meshbluServer":"https://meshblu.octoblu.com","uuid":"","token":"","sendUuid":""},{"id":"679e0bbe.7e3314","type":"pubnub-keys","z":"2ae54e2c.4c0372","pub_key":"pub-c-63712152-b811-477f-befb-b835715bbeca","sub_key":"sub-c-2e5abf04-0869-11e6-a6c8-0619f8945a4f"},{"id":"ef214094.c0323","type":"debug","z":"2ae54e2c.4c0372","name":"","active":false,"console":"false","complete":"false","x":594.5,"y":242,"wires":[]},{"id":"83ca03fb.019be8","type":"johnny5","z":"2ae54e2c.4c0372","name":"Temperature Sensor (LM35)","func":"\nvar thermometer = new five.Thermometer({\n\tpin : \"A0\",\n\tcontroler : \"LM35\",\n\tfreq : 2000\n});\n\nthermometer.on(\"data\", function() {\n\tvar message = {\n\t\t\"data\" : this.celsius + \"°C, \" + this.fahrenheit + \"°F\"\n\t};\n\tnode.send({payload : message});\n});","board":"b648d81c.75ced8","noerr":0,"x":213.5,"y":95.5,"wires":[["6cafa14b.e8ac68","f64753bb.0e776"]]},{"id":"6cafa14b.e8ac68","type":"debug","z":"2ae54e2c.4c0372","name":"","active":false,"console":"false","complete":"payload","x":597.5,"y":63,"wires":[]},{"id":"f64753bb.0e776","type":"pubnub out","z":"2ae54e2c.4c0372","keys":"679e0bbe.7e3314","channel":"thermometer_channel","x":623.5,"y":134,"wires":[]},{"id":"49216659.bb0288","type":"pubnub out","z":"2ae54e2c.4c0372","keys":"679e0bbe.7e3314","channel":"photoresistor_channel","x":622.5,"y":324,"wires":[]},{"id":"8295a288.0364b8","type":"johnny5","z":"2ae54e2c.4c0372","name":"Photoresistor","func":"var photoresistor = new five.Sensor({\n\tpin : \"A2\",\n\tfreq : 2000\n});\n\nphotoresistor.on(\"data\", function() {\n\tvar message = {\n\t\t\"data\" : this.value\n\t};\n\t\n\tnode.send({payload:message});\n});","board":"b648d81c.75ced8","noerr":0,"x":190.5,"y":291.5,"wires":[["49216659.bb0288","ef214094.c0323"]]},{"id":"2094d389.96b9cc","type":"johnny5","z":"2ae54e2c.4c0372","name":"Servo","func":"var servo = new five.Servo({\n\tid : \"MyServo\",\n\tpin : 6,\n\ttype : \"standard\",\n\trange : [ 0, 180 ],\n\tfps : 100,\n\tinvert : false,\n\tstartAt : 0,\n\tcenter : true,\n\tspecs : {\n\t\tspeed : five.Servo.Continuous.speeds[\"@5.0V\"]\n\t}\n});\n\nnode.on('input', function(msg){\n    try {\n            var message = msg.payload;\n            \n\t\t\t// Stop whatever the servo is doing at the moment.\n\t\t\tservo.stop();\n\n\t\t\tif (message.action == 'turn') {\n\t\t\t\tservo.to(message.angle);\n\t\t\t\tservo.stop();\n\t\t\t}\n\n\t\t\tif (message.action == 'sweep') {\n\t\t\t\tservo.sweep();\n\t\t\t}\n\n\t\t} catch (e) {\n\t\t\tconsole.log(\"Error: \", e);\n\t\t}\n});","board":"b648d81c.75ced8","noerr":0,"x":550.5,"y":535.5,"wires":[[]]},{"id":"f93ae5de.23412","type":"pubnub in","z":"2ae54e2c.4c0372","keys":"679e0bbe.7e3314","channel":"servo_channel","x":191.5,"y":481.5,"wires":[["2094d389.96b9cc","f838e6a7.84d87"]]},{"id":"f838e6a7.84d87","type":"debug","z":"2ae54e2c.4c0372","name":"","active":false,"console":"false","complete":"false","x":569.5,"y":453,"wires":[]}]